/* Global Styles */
body {
    font-family: 'Courier New', monospace;
    background-color: #000000;
    color: #ffffff;
}

/* Form Inputs */
select,
input[type="text"],
input[type="range"],
button {
    background-color: #121212; /* Light black background */
    border-color: #ff0000; /* Red border */
    color: white; /* White text */
}

/* Focus States */
select:focus,
input[type="text"]:focus,
button:focus {
    outline: none;
    box-shadow: 0 0 5px #ff0000; /* Red shadow when focused */
}

/* Custom Checkbox */
.form-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #ff0000;
    border-radius: 0.25rem;
    outline: none;
    transition: all 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
}

.form-checkbox:checked {
    background-color: #ff0000;
    border-color: #ff0000;
}

.form-checkbox:checked::after {
    content: '\2714';
    font-size: 1rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Slider Input */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #333333;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff0000;
    cursor: pointer;
}

/* Button Styles */
button {
    background-color: #ff0000; /* Red background */
    border: none;
    color: white;
    cursor: pointer;
}

/* Invert Button Styles */
#invertBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 40px; /* Square button */
    height: 40px; /* Square button */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff0000; /* Red background */
    border: none;
    border-radius: 0; /* No border radius for a square button */
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#invertBtn:hover {
    background-color: darkred; /* Darker shade for hover effect */
}

/* Ascii Art */
.ascii-art-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.inverted {
    filter: invert(1);
    background-color: #ffffff;
    color: #000000;
    transition: filter 0.5s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.inverted input,
.inverted select,
.inverted button {
    background-color: #ffffff;
    border-color: #000000;
    color: #000000;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.inverted .form-checkbox:checked {
    background-color: #000000;
    border-color: #000000;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.ascii-art {
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    color: #ffffff;
}
